<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<header>
    <div class="logo">
        <a href="/login">
            <img class="logo-img" src="/logo.png">
        </a>
    </div>
    <nav>
        <form class="logoutform" th:action="@{/logout}" method="post">
            <input class="signout" type="submit" value="Sign out">
        </form>
    </nav>
</header>
<div class="home-container">
    <div class="sidenav">
        <h3 class="side-headers">Employees</h3>
        <a class="side-headers1" href="/">All employees</a>
        <a class="side-headers1" href="/add">New employee</a>

        <h3 class="side-headers">Customers</h3>
        <a class="side-headers1" href="#">All customers</a>
        <a class="side-headers1" href="#">New customer</a>

        <a class="side-headers2" href="#">Caldendar</a>
        <a class="side-headers2" href="#">Tasks</a>
    </div>
    <div class="list-box">
        <nav class="pages">
            <a class="active" href="employee">Information</a>
            <a class="navref" href="employee-form.html">Documentation</a>
            <a class="navref" href="#">Applications</a>
        </nav>
        <form class="employee-form" action="/save" th:object="${employee}" method="POST">
            <div class="employee-img">
                <img class="avatar" th:src="*{photo}">
                <div class="myFile" action="/action_page.php">
                    <input type="file" id="myFile" name="filename" th:field="*{photo}">
                </div>
            </div>
            <div class="documentation-left">
                <div class="personal-header">
                    <h2>Download files: </h2>
                    <div th:if="${message}">
                        <h2 th:text="${message}"/>
                    </div>
                    <div>
                        <form method="POST" enctype="multipart/form-data" action="/">
                            <table>
                                <tr>
                                    <td>File to upload:</td>
                                    <td><input type="file" name="file"/></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" value="Upload"/></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="documentation-right">
                    <div class="personal-header2">
                        <h2>Saved files</h2>
                        <div>
                            <ul>
                                <li th:each="file : ${files}">
                                    <a th:href="${file}" th:text="${file}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>